/* src/Home.css */
.card {
    border-radius: 10px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .form-select, .form-control {
    border-radius: 20px;
  }

.cr-card{
    height: 40vh;
}
.card{
  text-align: center;
  align-items: center;
  padding: 30px;
  border-width: 0px;
  background-color: white;
}